{% extends 'base.html' %}
{% load static %}
{% block subtitle %} Checkout {% endblock subtitle %}
{% block body %}
<main class="mt-5">
    <div class="container mynav">
      {% for m in messages%} 
      <div class="alert alert-success text-center"><h4>{{m}}</h4></div>
      {% endfor %}
        {% if order %}
        <div>
            <h5>ordernumber is:{{order.id}} </h5>
            <h5>num of product is: {{num_product}}</h5>
            <h5>Total Amount is: {{total}}</h5>
        </div>
        <hr>
        <form method="post" action="{% url 'products:checkout' %}">{% csrf_token %}
            <div class="form-group">
              <label for="exampleInputPassword1">Shipment Address</label>
              <input type="mail" class="form-control" id="exampleInputPassword1" required name="ship_address" placeholder="Shipment Address">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Shipment Phone</label>
              <input type="text" class="form-control" id="exampleInputPassword1" required name="ship_phone" placeholder="Shipment Phone">
            </div>
            <div class="form-group">
              <label for="exampleCard Number">Card Number</label>
              <input type="text" class="form-control" id="exampleCard Number" required name="card_number" placeholder="Card Number">
            </div>
            <div class="form-group">
              <label for="exampleExpire">Expire</label>
              <input type="text" class="form-control" id="exampleExpire" required name="expire" placeholder="mm\yy">
            </div>
            <div class="form-group">
                <label for="exampleCard Number">Security Code</label>
                <input type="text" class="form-control" id="exampleCard Number" required name="security_code" placeholder="Security Code">
              </div>
            <button type="submit" name="pay" class="btn btn-primary">Payment</button>
        </form>
        {% else %}
        <div class="row d-flex justify-content-center wow fadeIn "><h4>No Order</h4></div>
        {% endif %}
    </div>      
</main>
{% endblock body %}